@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TestSohneBreit';
    src: url('/fonts/TestSohneBreit-Halbfett.woff2') format('woff2');
}

@font-face {
    font-family: 'Marbleyfree';
    src: url('/fonts/MarbleyfreeRegular-vm857.otf') format('OpenType');
}

* {
    margin: 0;
    padding: 0;
    cursor: url('/cursor.png') 16 16, auto !important;
}

body {
    font-family: 'TestSohneBreit';
    background-image: url('/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(229, 174, 132, 0.5);
    /* background-color: #ccbbac;  */
    cursor: url('/cursor.png') 50 50, auto;
}
  

a {
    cursor: url('/cursor.png') 50 50, auto;
}

button {
    cursor: url('/cursor.png') 50 50, auto;
}

/* add custom scrollbar to the whole website */
html, body {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  